# Hive Command Note

* **Access Hive**: in cmd, type *`hive`*
* **Run hive script**: xxx.hive

* **STRUCT**: mystruct.first
    * `<first, second>`
* **ARRAY**: myarray[0] 
    * index based
* **MAP**: myMap['KEY']
    * key based

1. employees.csv -> HDFS
2. create table & load employees.csv
3. drop employees table (Be careful that by dropping the table, HIVE will actually delete the original csv not just the table itself). Instead, we can create an external table.

In [ ]:
LOAD DATA INPATH '...' INTO TABLE employees

> **Create Table**

In [ ]:
CREATE TABLE myemployees( 
name STRING, 
salary FLOAT, 
subordinates ARRAY<STRING>, 
deductions MAP<STRING, FLOAT>, 
address STRUCT<street:STRING, city:STRING, state:STRING,zip:INT>)
ROW FORMAT DELIMITED #
FIELDS TERMINATED BY ',' #
COLLECTION ITEMS TERMINATED BY '#' # split the struct type item by `#`
MAP KEYS TERMINATED BY '-' # split the map type column by `-`
LINES TERMINATED BY '\N'; # separate line by `\N`

In [ ]:
# create an external table
CREATE EXTERNAL TABLE myemployees

> **Query**

In [ ]:
select address.city from employees

> **Database in HIVE**

Each database is a collection of tables. 
[link](http://www.tutorialspoint.com/hive/hive_create_database.htm)

In [ ]:
# create database
CREATE DATABASE [IF NOT EXISTS] userdb;

# show all the databases
show databases;

# use a certain database, every table we create afterwards will be within the database
use databaseName;

> **Create User Defined Fucntions (UDF)**

In [ ]:
**Steps**
* write in java
* jar file
* import jar file
* use UDF as query